/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/


*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	margin: 1rem;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}
body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;

	font-size: 1rem;
	padding: 4rem;

}

* {
	box-sizing: border-box;
}

header {
	display: flex;
	background-color: rgb(68, 48, 67);
	justify-content: center;
	align-items: center;
	min-height: 8rem;
	font-family:'Courier New', Courier, monospace;
	font-weight: bold;

}

footer {
	display: flex;
	background-color: rgb(200, 237, 250);
	justify-content: center;
	align-items: center;
	min-height: 4rem;
}

#title {
	color: white;
	font-size: 4rem;
}

ul {
	display: flex;
	list-style: none;
	justify-content: center;
	min-width: }

li {
	padding: .5rem 2rem;
	text-align: center;

}

main {
	display: flex;
	flex-direction: column;
	align-items: center;

}

button {
	border: none;
	background-color: orange;
	color: white;
	font-weight: bold;
	border-radius: 0.25rem;
	padding: 0rem 2rem;
	max-width: fit-content;
}
span {
	font-size: 3rem;
}
#top-nav{
	display: block;
	background-color: rgb(200, 237, 250);
	max-height: 4rem;;
	margin-top: .5rem;
	margin-bottom: 2rem;
}

.bottom-nav{

}

img{
	width: 50%;
	margin: 1rem;
}
#header-text {
  text-decoration: none;
}

.container {
    align-items: center;
    padding: 1rem;
    border-radius: 3px;
    text-align: center;

      display: flex;

      flex-flow: column ;
      align-content: center;

    }
  }

  ::placeholder {
    color: rgba(245, 166, 97, .75);
    text-align: center;
    font-size: .75rem;
  }




  form {
    width: 20rem;
    margin: auto;
    display: flex;
 border: solid;
 border-color: rgb(200, 237, 250);
  }
  input, textarea {

  min-width: 6rem;
  display: block;
  border-style: solid;
    border-color: gray;
    border-width: 2px;
    margin-top: .5rem;
  }

   label{
  margin-top: 1rem;



   }

  button {
    color: white;
    background-color: purple;
    border: none;
    border-radius: 1px;
    margin-top: 1rem;


  }


.smol{

  font-size: .75rem ;
  padding: .5rem;
  color: black;
}

.checkboxes{
display: grid;
border: solid;
border-color: rgb(200, 237, 250);


}