/*start of media queries*/
/*EXTRA SMALL up to 300px*/
/* @media only screen and (max-width: 500px) {
body{
margin: 0;
padding: 0;
width: 100%;
}

form{
width: 100vw;
}*/



/*SMALL up to 500px*/
/* @media only screen and (max-width: 500px) {


ul{
display: flex;
flex-direction: column;
background-color: white;
}

li{
    display: block;
    padding: 0.25rem;
    margin: 0.5rem;
}

.top-nav, .bottom-nav{

margin: 0;


}

#title{
font-size: 1.75rem;
inline-size: min-content;
}
} */

/*end of media queries*/




*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 550px;
/*  min-width: 330px;*/
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  /*	padding: 4rem;*/

}


header {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 275px;
  justify-content: center;
}

header p {
  z-index: 4;
  margin-top: -20px;
  font-size: 75%;
  margin-bottom: 20px;
}



#border {
  display: flex;
  background-color: rgb(225, 138, 254);
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  max-width: 500px;
  min-width: 275px;
  font-size: 100%;
  width: 100%;
}


#welcome {
  display: flex;
  background-color: rgb(225, 138, 254);
  justify-content: center;
  align-items: center;

  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  max-width: 500px;
  min-width: 275px;
  font-size: 100%
}

header span {
  background-color: white;
  margin: .35rem;
  font-size: 80%;
}


.logo {
  /* position:absolute; */
  position: relative;
  background: white;
  max-width: 500px;
  min-width: 275px;
  width: 100%;
  height: auto;
  z-index: 1;

}

#animated-logo:hover {
  opacity: 0;
  /* width: 100% */

}

#static-logo-container {
  width: 100%
}

.logo_container {
  /* display: flex;
  flex-direction: column; */

  max-width: 500px;
  min-width: 275px;
  width: 100%;
  position: relative;

}

.active {
  position: absolute;
  /* Use absolute positioning to layer the GIF */
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
  /* Set a lower z-index to place it below the logo */
}

#static-logo {
  max-width: 250px;

}


nav {
  display: flex;
}

nav span {
  background-color: black;
  color: white;
  margin: .35rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  text-decoration: none;
}

nav a  {
  text-decoration: none;
}





footer {
  /*	display: flex;*/

  justify-content: center;
  align-items: center;
  min-height: 4rem;
}

/* #title {
	color: white;
	font-size: 2rem;
  min-width: 330px;
} */



ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: .25rem;

  /* background-color: rgb(200, 237, 250); */
  background-color: black;
}

li {
  color: white;
  text-decoration: none;
  padding: .5rem 1rem;
  text-align: center;
  /* background-color: rgb(200, 237, 250); */
}

li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


span a:visited {
  text-decoration: none;
  text-decoration-color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;


}

#about {
  margin-top: 1rem;
}

span {

  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.top-nav .bottom-nav {
  display: block;
  background-color: rgb(200, 237, 250);

  margin-top: .5rem;
  margin-bottom: .5rem;

}



#header-text {
  text-decoration: none;
}

.container {
  align-items: center;
  padding: 1rem;
  border-radius: 3px;
  text-align: center;

  display: flex;

  flex-flow: column;


}

::placeholder {
  color: rgba(245, 166, 97, .75);
  text-align: center;
  font-size: .75rem;
}




form {
  min-width: 275px;
  max-width: 350px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
  border: solid;
  border-width: 4px;
  border-color: gold;
  align-items: center;
}

#dogForm {}

.label-input-div {
  /*background: red;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin: .5rem 0rem;
  border-color: rgb(200, 237, 250);
  border-width: 4px;
  border-style: solid;
  width: 90%;
  min-width: 0;
}

input,
textarea {
  /*  min-width: 6rem;*/
  /*  display: block;*/
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  margin: .5rem;
  max-width: 80%;
}

label {
  max-width: 75%;
  min-width: 0;

}

textarea {
  min-width: 18rem;
  max-width: 20rem;
}

/*   label{
margin-top: 1rem;

   }*/

button {
  color: white;
  background-color: purple;
  border: none;
  border-radius: 1px;
  margin: 1rem;
  font-weight: bold;
  padding: 0rem 2rem;
  /* max-width: fit-content;*/


}

.resetBtn {
  color: white;
  background-color: gray;
  opacity: 70%;
  border: none;
  border-radius: 1px;
  margin: 0rem 1rem;
  max-width: fit-content;
  align-self: center;


}

#poopForm label {
  margin: 0rem;

}

#poopForm fieldset {

  margin: .5rem 0rem;
}

#dogForm input {
  display: block;
  margin-left: 0rem;

}

#createUser input {
  display: block;
  margin-left: 0rem;

}

legend {
  font-weight: bold;
}

.smol {
  font-size: .75rem;
  padding: .5rem;
  color: black;
}

/*
div{
display: inline;
}

*/


th,
td,
caption {
  padding: .5rem;
  border: solid;
  border-width: 4px;
  border-color: rgb(200, 237, 250);

}

table {
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.dogCol {
  background-color: ;
}

th {
  background-color: lightcyan
}




/* ==========================================
                 =======================================
                  =======================================
                   =======================================
                   */



/*
@media only screen and (min-width: 351px) {
#title{
font-size:2.5rem;

}


/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {

} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
} */


.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#poopForm {
  padding: 0;
}

#fileReportHeading {
  margin-top: 1rem;
}

#resultsSection {
  display: flex;
  flex-direction: column;
  min-width: 330px;
  max-width: 550px;
  margin: .5rem;
}

#static-logo {}

#about {
align-text: left;
}

span a:visited {
  text-decoration: none;
color: white;
}

/* For mobile phones: *//*
[class*="col-"] {
  width: 100%;
}*/