<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>poop💩report </title>
    <link rel="icon" type="image/x-icon" href="/images/favicon2.PNG">
    <link href="/css/styles.css"
          rel="stylesheet" type="text/css"/>
    <script src="/js/app.js" defer></script>
</head>
<body>
<header>
    <div id="welcome">
        <span> what is this all about? </span>
    </div>
    <br>

    <a id="header-text" href="/home">
        <div class="logo_container">
            <img class="active" id="gif" src="/images/poop.gif"/>
            <img id="animated-logo" class="logo" src="/images/IMG_4221.PNG"/>
        </div>
    </a>

    <br/>

</header>


<main id="about">
    <p>
        First of all: So cute, right?!
    </p>
    <br>
    <h3>✨💩✨</h3>
    <br/>

    <p>
        Poop Report is an app I made for my dear friend Brandy.
        Living in a multi-generational household and caring for her parents' dogs with varying health issues, Brandy
        needed a way for the family to keep track of when the dogs had last been walked, if they had taken their
        prescriptions, eaten...
    </p>
    <br>
    <p> and a simple way to answer the all-important question:
    </p>
    <br>
    <p class="bold">💩 DID THEY POOP? 💩</p>
    <br>
    <p> Poop Report is a full stack app using Java with Springboot, Mysql for the database and vanilla javascript on the
        front end. </p>
    <br>
    <p>~made with love by Melissa Averinos~</p>
    <br>

</main>
<h3>✨💩✨</h3>
<br>
<nav id="border">
    <span><a href="/register">register</a></span>
    <span><a href="/home">home</a></span>
    <span><a href="/login">login</a></span>

</nav>

</body>
</html>