<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>poop💩report</title>
    <link href="/css/styles.css"
          rel="stylesheet" type="text/css"/>
    <script src="/js/app.js" defer></script>
</head>
<body>
<header>
    <div id="welcome">
        <span> welcome to the </span>
    </div>

    <a
            id="header-text"
            href="/index.html"
    >
    </a>
    <div class="logo_container">
        <img class="active" id="gif" src="/images/poop.gif"/>
        <img id="animated-logo" class="logo" src="/images/IMG_4221.PNG"/>

    </div>

</header>

<nav id="border">
    <span><a href="/login">login</a></span>
    <span><a href="/register">register</a></span>
    <span><a href="/home">home</a></span>

</nav>

<main>
    <img src="https://img.icons8.com/color/256/dog-pooping.png">
    <p>an app for Brandy + family to help reduce puppers having poopcidents</p>
    <br/>
    <h3>✨💩✨</h3>
    <br/>
</main>

<footer>
    <nav class="bottom-nav">
        <ul>
            <!-- <li><a href="/index.html">home</a></li>
             <li><a href="/register.html">register</a></li>
             <li><a href="/profile-page.html">profile</a></li>
             &lt;!&ndash;            <li><a href="/about.html">about</a></li>&ndash;&gt;-->
        </ul>
    </nav>
</footer>
</body>
</html>