<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--  <script src="js/app.js" defer></script>-->
    <script src="scripts/report.js" defer></script>
    <link href="/css/styles.css"

          rel="stylesheet" type="text/css"/>

</head>
<body>

<section id="resultsSection">
    <table>

        <caption>✨Poop💩Report✨</caption>
        <thead>
        <tr id="tableHeading">
            <th class="dogCol">dog</th>
            <th>time</th>
            <th>date</th>
            <th>walked</th>
            <th>pooped</th>
            <th>peed</th>
            <th>was fed</th>
            <th>ate</th>
            <th>rx</th>
            <th>notes</th>
        </tr>
        </thead>
        <tbody id="poopReport">

        <!--<tr #dog1Row>
            <td class="dogCol">gizmo</td>
            <td class="timeCol"></td>
            <td class="poopCol"></td>
            <td class="peeCol"></td>
            <td class="notesCol"></td>
        </tr>
        <tr #dog2Row>
            <td class="dogCol">scooter</td>
            <td class="timeCol"></td>
            <td class="poopCol"></td>
            <td class="peeCol"></td>
            <td class="notesCol"></td>
        </tr>
        <tr #dog3Row>
            <td class="dogCol">zero</td>
            <td class="timeCol"></td>
            <td class="poopCol"></td>
            <td class="peeCol"></td>
            <td class="notesCol"></td>
        </tr>-->
        </tbody>
    </table>
</section>


</body>
</html>