<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>profile</title>
    <link rel="icon" type="image/x-icon" href="/images/poopFavicon.ico">
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <script src="/js/profile.js" defer></script>
    <script src="js/logout.js" type="module" defer></script>

</head>

<body>

<!--TODO add ability to update + delete dogs-->
<!--TODO add photo upload + figure out where to display it-->

<nav id="border">
    <span><a href="/dashboard">dashboard</a></span>

    <!--TODO make stacked text align center-->
    <span><a href="/make-report">make a report</a></span>
    <span><a href="/home" id="logoutButton">logout</a></span>

</nav>


<main>

    <form id="dogForm">
        <h1 class="prompt">✨add your dog(s)!✨</h1>

        <fieldset>
            <!--  <legend>Add your dog(s)</legend>-->
            <div class="label-input-div">
                <label for="dog_name">dog's name:</label>
                <input type="text" name="dog_name" id="dog_name">
            </div>
            <!-- <div class="label-input-div">
                <label for="dogPic">dog's profile pic:</label>
                <input type="file" name="dog_pic" id="dogPic">
            </div> -->
        </fieldset>

        <button type="submit" id="submit-btn">ADD DOG</button>
        <button type="reset" class="resetBtn">reset form</button>

    </form>

    <!--TODO fix modal css-->
    <div id="success-modal" class="modal">
        <!--double-check to see if i need this to be two divs-->
        <div class="modal-content">
            <span>Success!</span>
            <p>Add another dog or file a Poop Report?</p>
            <button id="no-other-dog-btn">file a report</button>
            <button id="add-another-dog-btn">add dog</button>
        </div>
    </div>

    <br/>
</main>


<footer>
    <!--TODO add footer?-->
</footer>

</body>
</html>