<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>sign💩up</title>
    <link href="/css/styles.css"

          rel="stylesheet" type="text/css"/>
    <script defer src="/js/new.js"></script>
    <!--   <script src="js/user.js" defer></script>-->
    <!-- <script src="js/sign-up.js" defer></script>-->

</head>
<body>

<nav id="border">
    <span><a href="/home">home</a></span>

</nav>


<main>


    <!--add autocomplete attributes + confirm password field, add success message-->
    <form enctype="multipart/form-data" id="createUser">
        <h2>💩 sign up 💩</h2>
        <fieldset>
            <!--  <legend>create your account</legend>-->

            <label for="email">email:</label>
            <input name="email" type="email" id="email"/>

            <label for="password">password (min 8 characters):</label>
            <input name="password" type="password" id="password" minlength="8" required>
        </fieldset>
        <!--
                <label for="confirmPW">confirm password</label>
                <input name="confirmPW" type="password" id="confirmPW" minlength="8">-->
        <!--required-->
        <!-- <label for="user_name">username</label>
         <input name="user_name" type="text" id="user_name">

         <label for="first_name">first name</label>
         <input name="first_name" type="text" id="first_name">

         <label for="last_name">last name</label>
         <input name="last_name" type="text" id="last_name">
 -->


        <button id="button" type="submit">SIGN ME UP!</button>
        <button type="reset" class="resetBtn">reset form</button>

    </form>


    <!--
    <p>
        if you've ever witnessed a dog “airbrushing the juniper bushes” with their business...you might understand
    </p>
    <br/>
     <img src="https://img.icons8.com/color/256/dog-pooping.png">-->

</main>

<!--<footer>
    <nav class="bottom-nav">
        <ul>
            <li><a href="/poopReport/templates/poopReportFrontEnd/index.html">home</a></li>
            <li><a href="/poopReport/templates/poopReportFrontEnd/sign-up.html">sign up</a></li>
            <li><a href="/poopReport/templates/poopReportFrontEnd/profile-page.html">profile</a></li>
            <li><a href="/poopReport/templates/poopReportFrontEnd/make-report.html">make a report</a></li>
            <li><a href="/poopReport/templates/poopReportFrontEnd/about.html">about</a></li>
        </ul>
    </nav>
</footer>-->
</body>
</html>